body{
    font-family: 'Alegreya Sans', sans-serif;;
    box-sizing: border-box;
    margin: 0;
}
.sect:nth-child(even) {
background-color: #54be90;
}

.sect2:nth-child(odd){
    background-color: #54be90;
}
.intro{
    background-image: url("images/rocks.jpg");
background-size: cover;
padding: 20%;

}
.navbar{
    display: flex;
    justify-content: space-around;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999; 
    width: 100%; 
    height: 50px;
     background-color: black; 
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    color: green;
}
h1{
   margin:0;

}
h1 span {
color: #54be90;
text-decoration: underline;
text-decoration-color: black;
}

p{
    font-size: large;
    text-align: center;
}
.home{
    display: flex;
    flex-direction: row;
align-items: flex-end;
    justify-content: space-between;
    background-color: black;
    padding: 2rem;
}
.info {
    color: #54be90;
}
.info p{
    color: white;
}
.skills{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5%;
  margin-left: 25%
  
}
.skills h2 {

    color:  #54be90;
}
.port {
    display: flex;
   align-items: center;
    padding: 5%;
    margin-top: 3rem;
    }
    .port h2 {

        color:  white;
    }
    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left:40px;
        align-items: center;
        padding: 15%
    }
    
    
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13rem;
        height: 170px;
        background-color: aquamarine;
    }
    
.about{
    display: flex;
   align-items: center;
  
    padding: 5%;
  }
  .about h2 {
   
        color:  #54be90;
    }
    
  .find{
    display: flex;
    justify-content: center;
    padding: 5%;
    background-color: black;
  }
  .find h2 {

        color:  white;
    }
.contact{
    display: flex;
    justify-content: center;
    padding: 5%;
   
  }
  .contact h2 {
  
        color:  white;
    }
.nice {
    display: flex;
    justify-content: center;
    padding: 5%;
  }
  .nice h2 {

        color:  #54be90;
    }

